.profile {
  justify-content: center;
  text-align: center;
  padding: 50px 0 50px 0;

  .profile-container {
    padding-top: 50px;
    max-width: 950px;
    #title {
      font-size: 54px;
      color: tomato;
    }

    #description {
      margin: 20px;
    }

    .aboutMe {
      margin: 10px auto;
      p {
        padding: 20px;
        text-align: left;
      }
    }

    .selfie-container {
      margin: 10px auto;

      .selfie {
        background-image: url("../image/selfie.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        padding: 30px;
        margin: 0 auto 20px;
      }
    }

    .details {
      margin: 10px auto;
      div {
        padding: 20px;
        text-align: left;
      }
    }

    .see-project {
      border-top: 1px solid rgba(114, 120, 120, 0.5);
      margin-top: 25px;
      padding-top: 35px;

      div {
        padding-bottom: 15px;
        i {
          color: #999999;
        }
      }

      a {
        background: #428bca;
      }

      a:hover {
        background: #357ebd;
      }
    }
  }
}
